extends ../layout/layout_dashboard

block content
  .row
    .col-lg-12
      h1.page-header
        | Registrar Usuario:
  .row
    .col-lg-6
      form(role='form')
        .form-group
          label Text Input
          input.form-control
          p.help-block Example block-level help text here.
        .form-group
          label Text Input with Placeholder
          input.form-control(placeholder='Enter text')
        .form-group
          label Radio Buttons
          .radio
            label
              input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
              | Radio 1
          .radio
            label
              input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
              | Radio 2
          .radio
            label
              input#optionsRadios3(type='radio', name='optionsRadios', value='option3')
              | Radio 3
        .form-group
          label Inline Radio Buttons
          label.radio-inline
            input#optionsRadiosInline1(type='radio', name='optionsRadiosInline', value='option1', checked='')
            | 1
          label.radio-inline
            input#optionsRadiosInline2(type='radio', name='optionsRadiosInline', value='option2')
            | 2
          label.radio-inline
            input#optionsRadiosInline3(type='radio', name='optionsRadiosInline', value='option3')
            | 3
        button.btn.btn-default(type='submit') Submit Button
        button.btn.btn-default(type='reset') Reset Button
