doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title App PIR - Udla
    // Bootstrap Core CSS
    link(href='./../../css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='./../../css/sb-admin.css', rel='stylesheet')
    link(href='./../../css/slider.css', rel='stylesheet')
    // Custom Fonts
    link(href='./../../font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    //jquery y socket
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src='./../../js/socket_io.js')
    script(src='./../../socket.io/socket.io.js')
  body
    #wrapper
      // Navigation
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/DashBoard/#') App IoT
        // Top Menu Items
        ul.nav.navbar-right.top-nav
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-bell
              b.caret
            ul.dropdown-menu.alert-dropdown
              li
                a(href='#')
                  | ESP8266_12543
                  span.label.label-warning Alert PIR
              li
                a(href='#')
                  | ESP8266_12543
                  span.label.label-warning Alert PIR
              li
                a(href='#')
                  | ESP8266_12543
                  span.label.label-warning Alert PIR
              li.divider
              li
                a(href='#') View All
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-user
              |  #{Usuario.nombres_Persona} #{Usuario.apellidos_Persona}
              b.caret
            ul.dropdown-menu
              li
                a(href='#')
                  i.fa.fa-fw.fa-gear
                  |  Rol de Usuario [#{Usuario.Rol_Persona_id_Rol_Persona}]
              li.divider
              li
                a(href='/../Logout')
                  i.fa.fa-fw.fa-power-off
                  |  Log Out
        // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.side-nav
            li
              a(href='/DashBoard/#')
                i.fa.fa-fw.fa-dashboard
                |  Panel Principal
            if Usuario.Rol_Persona_id_Rol_Persona<=2
              li
                a(href='javascript:;', data-toggle='collapse', data-target='#li_Gestionar_Usuarios')
                  i.fa.fa-fw.fa-edit
                  |  Gestionar Usuarios
                  i.fa.fa-fw.fa-caret-down
                ul#li_Gestionar_Usuarios.collapse
                  if Usuario.Rol_Persona_id_Rol_Persona==1
                    li
                      a(href='Registrar_Usuario') Registrar Usuario
                  li
                    a(href='Consultar_Usuario') Consultar Usuario
                  if Usuario.Rol_Persona_id_Rol_Persona==1
                    li
                      a(href='Modificar_Usuario') Modificar Usuario
                    li
                      a(href='Inhabilitar_Usuario') Inhabilitar Usuario
            if Usuario.Rol_Persona_id_Rol_Persona<=2
              li
                a(href='javascript:;', data-toggle='collapse', data-target='#li_Gestionar_Modulos')
                  i.fa.fa-fw.fa-edit
                  |  Gestionar Modulos
                  i.fa.fa-fw.fa-caret-down
                ul#li_Gestionar_Modulos.collapse
                  li
                    a(href='Registrar_Modulo') Registrar Modulo
                  li
                    a(href='Consultar_Modulo') Consultar Modulo
                  li
                    a(href='Modificar_Modulo') Modificar Modulo
                  li
                    a(href='Inhabilitar_Modulo') Inhabilitar Modulo
            if Usuario.Rol_Persona_id_Rol_Persona<=2
              li
                a(href='javascript:;', data-toggle='collapse', data-target='#li_Gestionar_Grupo_Modulos')
                  i.fa.fa-fw.fa-edit
                  |  Gestionar Grupos de Modulos
                  i.fa.fa-fw.fa-caret-down
                ul#li_Gestionar_Grupo_Modulos.collapse
                  li
                    a(href='#') Registrar Grupo
                  li
                    a(href='#') Consultar Grupo
                  li
                    a(href='#') Modificar Grupo
                  li
                    a(href='#') Inhabilitar Grupo
            li
              a(href='charts.html')
                i.fa.fa-fw.fa-bar-chart-o
                |  Ver Historial de Reportes
        // /.navbar-collapse
      #page-wrapper
        .container-fluid
          // Page Heading
          .row
            .col-lg-12
              h1.page-header
                | Sistema Inmótico
                small    Universidad de la Amazonia
              ol.breadcrumb
                li.active
                  i.fa.fa-desktop
                  |  Panel Principal
          // /.row
           // Main jumbotron for a primary marketing message or call to action
          block content

        // /.container-fluid
      // /#page-wrapper
    // /#wrapper
    // jQuery
    script(src='./../../js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='./../../js/bootstrap.min.js')
